/* ===== Nice & Simple CSS: https://github.com/tomsoderlund/niceandsimple-css ===== */

/* ----- Reset ----- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: none;
  touch-action: manipulation;
}

/* ----- Layout ----- */

/* #NiceAndSimple: Main - margin:auto */
main {
  margin: 0 auto;
  padding: 1em 0;
  width: 80%;
  max-width: 800px;
  min-height: calc(100vh - 50px);
}

@media only screen and (max-width: 480px) {
  body {
    background-color: #433998;
    color: white;
  }

  main {
    width: 100%;
    max-width: none;
    padding: 1em;
    background-color: white;
    color: black;
  }
}

main.has-header {
  padding-top: calc(1em + 50px);
}

main.has-footer {
  padding-bottom: calc(1em + 35px);
}

main h1:first-child {
  margin-top: 0.3em;
}

/* #NiceAndSimple: Header */
header,
footer {
  background-color: #433998;
  color: white;
  position: fixed;
  z-index: 1000;
  width: 100%;
  left: 0;
  top: 0;
  height: 50px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* iOS Web Apps */
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

footer {
  top: unset;
  bottom: 0;
  height: 35px;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.flex.column {
  flex-direction: column;
}

.flex > * {
  flex: 1;
  width: 100%;
  margin-right: 1em;
}
.flex > *:last-child {
  margin-right: unset;
}

@media only screen and (max-width: 480px) {
  .flex {
    flex-direction: column;
  }
  .flex > * {
    margin-right: unset;
  }
}

/* ----- Typography ----- */

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

p {
  margin: 1em 0;
  line-height: 1.4em;
}

h1, h2, h3 {
  line-height: 1.1em;
  margin: 1.1em 0 0.4em;
}

/* ----- Elements ----- */

/* #NiceAndSimple: Links */
a {
  color: dodgerblue;
  text-decoration: none;
  border-bottom: 1px dotted dodgerblue;
  transition: all 0.2s;
  cursor: pointer;
}
a:hover {
  filter: brightness(125%);
}

/* #NiceAndSimple: Button - https://codepen.io/tomsoderlund/pen/qqyzqp */
button,
.button {
  position: relative;
  background-color: dodgerblue;
  color: white;
  border-radius: 0.2em;
  border: none;
  box-shadow: 0 0.125em 0.125em rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  font-family: inherit;
  font-size: inherit;
  line-height: normal;
  font-weight: bold;
  text-align: center;
  outline: none;
  padding: 0.6em;
  margin: 0.2em;
  transition: all 0.1s;
  min-width: 15em;
}
button:focus:not(:disabled),
.button:focus:not(:disabled) {
  filter: brightness(125%);
}
button:hover:not(:disabled),
.button:hover:not(:disabled) {
  filter: brightness(125%);
  top: -0.1em;
  box-shadow: 0 0.2em 0.1em rgba(0, 0, 0, 0.2);
}
button:hover:active,
.button:hover:active {
  top: 0.1em;
  box-shadow: 0 0.02em 0.125em rgba(0, 0, 0, 0.4);
  transition: all 0.05s;
}
button:disabled,
.button:disabled {
  cursor: initial;
  filter: grayscale(100%);
  opacity: 0.5;
}
a.button {
  text-decoration: none;
}

button:not(.primary):not(:disabled) {
  filter: saturate(50%);
}

/* fieldset flexbox bug */
fieldset,
.fieldset {
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 2em;
}

fieldset > *,
.fieldset > * {
  flex: 2;
}

fieldset > label,
.fieldset > label,
fieldset > span,
.fieldset > span {
  flex: 1;
}

legend {
  font-weight: bold;
}

/* #NiceAndSimple: Input and Dropdown Menu - https://codepen.io/tomsoderlund/pen/GNBbWz */
input:not([type="radio"]):not([type="checkbox"]),
.input,
textarea,
select {
  -webkit-appearance: none;
  background-color: white;
  color: inherit;
  outline: none;
  resize: none;
  box-sizing: border-box;
  border-radius: 0.2em;
  border: 1px solid lightgray;
  box-shadow: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 0.6em;
  margin: 0.2em;
  min-width: 15em;
}
input::placeholder,
textarea::placeholder {
  color: lightgray;
}
input:hover:not(:disabled):not(:focus),
.input:hover:not(:disabled):not(:focus),
textarea:hover:not(:disabled):not(:focus),
select:hover:not(:disabled):not(:focus) {
  border-color: silver;
}
input:focus,
.input:focus,
textarea:focus,
select:focus {
  border-color: darkgray;
}
input:read-only,
textarea:read-only {
  color: darkgray;
}
input:disabled,
.input:disabled,
textarea:disabled,
select:disabled {
  background-color: whitesmoke;
  color: darkgray;  
}

@media only screen and (max-width: 480px) {
  button,
  input:not([type="radio"]):not([type="checkbox"]),
  .input,
  textarea,
  select {
    width: 100%;
    margin: 0.2em 0;
  }
}

input[type="radio"],
input[type="checkbox"] {
  margin-left: 1em;
}

input[type="radio"]:first-child,
input[type="checkbox"]:first-child {
  margin-left: unset;
}

.radio-wrapper,
.checkbox-wrapper {
  margin-right: 1em;
}

/* #NiceAndSimple: Tag */
.tag {
  display: inline-block;
  cursor: default;
  padding: 0.6em 1em;
  background-color: deepskyblue;
  color: white;
  font-size: 0.9em;
  padding: 0.2em 0.7em;
  margin-right: 0.2em;
  margin-bottom: 0.4em;
  border-radius: 2em;
  border: 1px solid rgba(0,0,0, 0.2);
  text-decoration: none;
  transition: all 0.2s;
}
.tag.selectable {
  cursor: pointer;
}
.tag.selectable:hover:not(.disabled) {
  filter: brightness(115%);
}
.tag.selected {
  background-color: #4a87bf;
  border: 1px solid #4a87bf;
}
.tag.new {
  background-color: limegreen;
}

.tag .x-button {
  cursor: pointer;
  border: none;
  background: none;
  padding: 0.1em;
  margin: 0;
  margin-left: 0.2em;
  color: white;
}
.tag .x-button:before {
  content: '✖';
}

/* #NiceAndSimple: List */
ol {
  list-style-type: decimal;
  list-style-position: inside;
}

/* #NiceAndSimple: Table - https://codepen.io/tomsoderlund/pen/mmZrRR */
table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #ddd;
  padding: 0.5em;
  vertical-align: top;
}

thead tr {
  background-color: #ccc;
}

tr:nth-child(2n+0) {
  background-color: #eee;
}

/* #NiceAndSimple: Horisontal rule */
hr {
  border: 0;
  height: 1px;
  margin: 0.5em 0;
  background: rgba(0,0,0, 0.2);
}

/* ===== Custom CSS ===== */

/* ----- Generated by https://tomsoderlund.github.io/design-profile-generator/ ----- */
.color-background-bg { background-color: #FFFFFF; }
.color-background-fg { color: #FFFFFF; }
.color-text-bg { background-color: #555555; }
.color-text-fg { color: #555555; }
.color-action-primary-bg { background-color: #00CED1; }
.color-action-primary-fg { color: #00CED1; }
.color-action-secondary-bg { background-color: #663399; }
.color-action-secondary-fg { color: #663399; }
.color-header-bg { background-color: #663399; }
/* ----- Generated by https://tomsoderlund.github.io/design-profile-generator/ ----- */

header,
footer {
  background-color: #663399;
}

a {
  color: #00CED1;
}

button,
.button {
  background-color: #00CED1;
}
